<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- ** Basic Page Needs ** -->
  <meta charset="utf-8">
  <title>Classimax | Classified Marketplace Template</title>

  <!-- ** Mobile Specific Metas ** -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Agency HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Classified Marketplace Template v1.0">
  
  <!-- theme meta -->
  <meta name="theme-name" content="classimax" />

  <!-- favicon -->
  <link href="/../assets/favicon.png" rel="shortcut icon">


  <!--
  Essential stylesheets
  =====================================-->
  <link href="/../assets/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/../assets/bootstrap/bootstrap-slider.css" rel="stylesheet">
  <link href="/../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/../assets/slick/slick.css" rel="stylesheet">
  <link href="/../assets/slick/slick-theme.css" rel="stylesheet">
  <link href="/../assets/jquery-nice-select/css/nice-select.css" rel="stylesheet">

    <link href="/../assets/css/style.css" rel="stylesheet">
  <link href="/../assets/single.css" rel="stylesheet">

</head>

<body class="body-wrapper">

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light navigation">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto main-nav ">
              <li class="nav-item">
                <a class="nav-link" href="/welcome">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/newpost">Post
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">Events
                </a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-10">
              <% if logged_in? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.name %> <i class="fa fa-angle-down"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to 'Profile', profile_path, class: 'dropdown-item' %> 
                    <%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Login', login_path, class: 'nav-link login-button' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<!--===================================
=            Store Section            =
====================================-->
  <section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <!-- Left sidebar -->
        <div class="col-lg-8">
          <div class="product-details">
            <h1 class="product-title"><%= @post.event_name %></h1>
            <div class="product-meta">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-user-o"></i> By：<%= @post.directions %></a></li>
                <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> カテゴリー：<%= @post.category %></a>
                </li>
                <li class="list-inline-item"><i class="fa fa-location-arrow"></i> 場所：<%= @post.venue_name %></a></li>
              </ul>
            </div>

            <!-- product slider -->
            <div class="content">
              <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                <!-- <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">イベント詳細</a>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Specifications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false">Reviews</a>
                </li> -->
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <h3 class="tab-title">日時：<%= @post.start_date.strftime("%Y-%m-%d") %> <%= @post.start_time.strftime("%H:%M") %>~<%= @post.end_time.strftime("%H:%M") %></h3>
                  <h3 class="tab-title">URL：<a href="<%= @post.url %>"><%= @post.url %></a></h3>
                  <h3 class="tab-title">料金：<%= @post.basic_fee %></h3>
                  <h3 class="tab-title">詳細：<%= @post.event_details %></h3>
                  <h3 class="tab-title">住所：<%= @post.address %></h3>
                  <h3 class="tab-title">連絡先：<%= @post.contact_name %></h3>
                  <h3 class="tab-title">電話番号：<%= @post.contact_phone_number %></h3>
                  更新：<%= @post.publication_date %>
                </div>

                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <!-- User Profile widget -->
            <div class="widget user text-center">
              <img class="rounded-circle img-fluid mb-5 px-5" src="images/user/user-thumb.jpg" alt="">
              <h4><%=  %></h4>
              <!-- <a href="single.html">See all ads</a> -->
              <ul class="list-inline mt-20">
                <li class="list-inline-item"><a href="./dashboard.html"
                    class="btn btn-contact d-inline-block  btn-primary px-lg-5 my-1 px-md-3">プロフィール</a></li>
                <!-- <li class="list-inline-item"><a href="single.html"
                    class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">Make an
                    offer</a></li> -->
              </ul>
            </div>
            <!-- Map Widget -->
            <div class="widget map">
              <div class="map">
                <div id="map" data-latitude="34.7034" data-longitude="137.7348", data-no-turbolink: true do ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Container End -->
  </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="/../assets/google-map/map.js" defer></script>

<script src="/../assets/script.js"></script>

<style>
    .tab-title {
        word-wrap: break-word;
    }
</style>


