<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- ** Basic Page Needs ** -->
  <meta charset="utf-8">
  <title>Classimax | Classified Marketplace Template</title>

  <!-- ** Mobile Specific Metas ** -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Agency HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Classified Marketplace Template v1.0">
  
  <!-- theme meta -->
  <meta name="theme-name" content="classimax" />

  <!-- favicon -->
  <link href="/../assets/favicon.png" rel="shortcut icon">

  <!-- 
  Essential stylesheets
  =====================================-->
  <link href="/../assets/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/../assets/bootstrap/bootstrap-slider.css" rel="stylesheet">
  <link href="/../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/../assets/slick/slick.css" rel="stylesheet">
  <link href="/../assets/slick/slick-theme.css" rel="stylesheet">
  <link href="/../assets/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  
  <link href="/../assets/css/style.css" rel="stylesheet">

</head>

<body class="body-wrapper">


<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light navigation">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto main-nav ">
              <li class="nav-item">
                <a class="nav-link" href="/welcome">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/newpost">Post
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/posts">Events
                </a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-10">
              <% if logged_in? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.name %> <i class="fa fa-angle-down"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to 'Profile', profile_path, class: 'dropdown-item' %> 
                    <%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Login', login_path, class: 'nav-link login-button' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!--==================================
=            User Profile            =
===================================-->
<section class="dashboard section">
  <!-- Container Start -->
  <div class="container">
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-4">
        <div class="sidebar">
          <!-- Filter Widget -->
          <div class="widget user-dashboard-menu">
            <h3 class="widget-header">Filter by</h3>
            <ul>
              <li>
                <a href="<%= posts_path %>"><i class="fa fa-angle-right"></i> All Posts</a>
              </li>
            <% @categories.each do |category, count| %>
              <li>
                <a href="<%= posts_path(category: category) %>"><i class="fa fa-angle-right"></i> <%= category %> (<%= count %>)</a>
              </li>
            <% end %>
            </ul>
            <h3 class="widget-header">Location</h3>
            <ul>
            <% @location.each do |location, count| %>
              <li>
                <a href="<%= posts_path(location: location) %>"><i class="fa fa-angle-right"></i> <%= location %> (<%= count %>)</a>
              </li>
            <% end %>
            </ul>
          </div>

          <!-- delete-account modal -->
          <!-- delete account popup modal start-->
<!-- Modal -->
<div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="images/account/Account1.png" class="img-fluid mb-2" alt="">
        <h6 class="py-2">Are you sure you want to delete your account?</h6>
        <p>Do you really want to delete these records? This process cannot be undone.</p>
        <textarea class="form-control" name="message" id="" cols="40" rows="4" class="w-100 rounded"></textarea>
      </div>
      <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- delete account popup modal end-->
          <!-- delete-account modal -->

        </div>
      </div>
      <div class="col-lg-8">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
          <h3 class="widget-header">イベント一覧</h3>
          <table class="table table-responsive product-dashboard-table">
            <thead>
              <tr>
                <th></th>
                <th>イベント名</th>
                <th class="text-center">カテゴリー</th>
                <th class="text-center">いいね</th>
              </tr>
            </thead>
            <tbody>
              <% @event_lists.each do |post| %>
              <tr>
                <td class="product-thumb">
                  <img width="80px" height="auto"  alt="image description"></td>
                <td class="product-details">
                  <h3 class="title"><%= post.event_name %></h3>
                  <span class="add-id"><strong>Start Date:</strong> <%= post.start_date %></span>
                  <span><strong>Posted on: </strong><time><%= post.created_at.strftime('%b %d, %Y') %></time> </span>
                  <span class="location"><strong>Location</strong><%= post.district %></span>
                </td>
                <td class="product-category"><span class="categories"><%= post.category %></span></td>
                <td class="action" data-title="Action">
                  <%= render "favorites/btn", post: post %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>

        <!-- pagination -->
        <%= will_paginate @event_lists, renderer: BootstrapPagination::Rails %>
        <!-- pagination -->

      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>

<!-- 
Essential Scripts
=====================================-->
<script src="/../assets/jquery/jquery.min.js"></script>
<script src="/../assets/bootstrap/popper.min.js"></script>
<script src="/../assets/bootstrap/bootstrap.min.js"></script>
<script src="/../assets/bootstrap/bootstrap-slider.js"></script>
<script src="/../assets/tether/js/tether.min.js"></script>
<script src="/../assets/raty/jquery.raty-fa.js"></script>
<script src="/../assets/slick/slick.min.js"></script>
<script src="/../assets/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="/../assets/google-map/map.js" defer></script>

<script src="/../assets/script.js"></script>

</body>

</html>