<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- ** Basic Page Needs ** -->
  <meta charset="utf-8">
  <title>Classimax | Classified Marketplace Template</title>

  <!-- ** Mobile Specific Metas ** -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Agency HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Classified Marketplace Template v1.0">
  
  <!-- theme meta -->
  <meta name="theme-name" content="classimax" />

  <!-- favicon -->
  <link href="/../assets/favicon.png" rel="shortcut icon">

  <!-- 
  Essential stylesheets
  =====================================-->
  <link href="/../assets/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/../assets/bootstrap/bootstrap-slider.css" rel="stylesheet">
  <link href="/../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/../assets/slick/slick.css" rel="stylesheet">
  <link href="/../assets/slick/slick-theme.css" rel="stylesheet">
  <link href="/../assets/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  
  <link href="/../assets/css/style.css" rel="stylesheet">

</head>

<body class="body-wrapper">


<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light navigation">
          <a class="navbar-brand" href="/welcome">
            <img src="/../assets/HEH.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto main-nav ">
              <li class="nav-item">
                <a class="nav-link" href="/welcome">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/newpost">Post
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">Events
                </a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-10">
              <% if logged_in? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.name %> <i class="fa fa-angle-down"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to 'Profile', profile_path, class: 'dropdown-item' %> 
                    <%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Login', login_path, class: 'nav-link login-button' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!--==================================
=            User Profile            =
===================================-->
  <section class="dashboard section">
    <!-- Container Start -->
    <div class="container">
      <!-- Row Start -->
      <div class="row">
        <div class="col-lg-3">
          <div class="sidebar">
            <!-- User Widget -->
            <div class="widget user-dashboard-profile">
              <!-- User Image -->
              <div class="profile-thumb">
                <img src="/../assets/images/user/user-thumb.jpg" alt="" class="rounded-circle">
              </div>
              <!-- User Name -->
              <h5 class="text-center"><%= current_user.name %></h5>
              <a href="#!" data-toggle="modal" data-target="#deleteaccount" class="btn btn-main-sm">プロフィールを更新</a>
            </div>
            <!-- Dashboard Links -->

            <!-- delete-account modal -->
            <!-- delete account popup modal start-->
  <!-- Modal -->
  <section class="modal fade" id="deleteaccount" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <%= form_with(model: current_user, url: profile_path, method: :patch, local: true) do |form| %>
        <div class="update-form">
          <div class="form-name">名前</div>
          <%= form.text_field :name, class: 'form-control', placeholder: 'イベント 太郎' %>
        </div>
        <div class="update-form">
          <div class="form-name">メールアドレス</div>
          <%= form.email_field :email, class: 'form-control', placeholder: 'tarou@event.mail' %>
        </div>
        <div class="update-form">
          <div class="form-name">パスワード</div>
          <%= form.password_field :password, class: 'form-control', placeholder: '半角英数で入力' %>
        </div>
        <div class="update-form">
          <div class="form-name">パスワード(確認)</div>
          <%= form.password_field :password_confirmation, class: 'form-control', placeholder: '再入力してください' %>
        </div>
        <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-center">
          <%= form.submit '更新', class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
    </div>
  </section>
  <!-- delete account popup modal end-->
  <!-- delete-account modal -->
</div>
</div>

        <!-- product slider -->
        <div class="col-lg-8">
        <div class="content tablist">
          <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item nav-item-tab">
              <a class="nav-link active nav-link-tab" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">今まで開催したイベント</a>
            </li>
            <li class="nav-item nav-item-tab">
              <a class="nav-link nav-link-tab" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-profile" aria-selected="false">いいねしたイベント</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div>
                <!-- Recently Favorited -->
                <div class="widget dashboard-container my-adslist">
                  <h3 class="widget-header">過去に開催したイベント</h3>
                  <table class="table table-responsive product-dashboard-table">
                    <thead>
                      <tr>
                        <th>写真</th>
                        <th>イベント名</th>
                        <th class="text-center">カテゴリー</th>
                        <th class="text-center">編集</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- 投稿したイベント -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div>
                <!-- Recently Favorited -->
                <div class="widget dashboard-container my-adslist">
                  <h3 class="widget-header">いいねしたイベント</h3>
                  <table class="table table-responsive product-dashboard-table">
                    <thead>
                      <tr>
                        <th>写真</th>
                        <th>イベント名</th>
                        <th class="text-center">カテゴリー</th>
                        <th class="text-center">編集</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @favorited_posts.each do |post| %>
                      <tr>
                        <td class="product-thumb">
                        <td class="product-details">
                          <h3 class="title"><%= link_to post.event_name, single_show_path(post.id) %></a></h3>
                          <span class="add-id"><strong>Start Date:</strong> <%= post.start_date %></span>
                          <span><strong>Posted on: </strong><time><%= post.created_at.strftime('%b %d, %Y') %></time> </span>
                          <span class="location"><strong>Location</strong><%= post.district %></span>
                        </td>
                        <td class="product-category"><span class="categories"><%= post.category %></span></td>
                        <td class="action" data-title="Action">
                          <%= render "favorites/btn", post: post %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </section>

<!-- 
Essential Scripts
=====================================-->
<script src="/../assets/jquery/jquery.min.js"></script>
<script src="/../assets/bootstrap/popper.min.js"></script>
<script src="/../assets/bootstrap/bootstrap.min.js"></script>
<script src="/../assets/bootstrap/bootstrap-slider.js"></script>
<script src="/../assets/tether/js/tether.min.js"></script>
<script src="/../assets/raty/jquery.raty-fa.js"></script>
<script src="/../assets/slick/slick.min.js"></script>
<script src="/../assets/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="/../assets/google-map/map.js" defer></script>

<script src="/../assets/script.js"></script>

</body>

</html>